@font-face
{
    font-family: 'eausans_bold';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/eau_sans_bold-webfont.eot');
    src: url('../fonts/eau_sans_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/eau_sans_bold-webfont.woff2') format('woff2'),
    url('../fonts/eau_sans_bold-webfont.woff') format('woff'),
    url('../fonts/eau_sans_bold-webfont.ttf') format('truetype'),
    url('../fonts/eau_sans_bold-webfont.svg#eausans_bold') format('svg');
}

@font-face
{
    font-family: 'eausans_book';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/eau_sans_book-webfont.eot');
    src: url('../fonts/eau_sans_book-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/eau_sans_book-webfont.woff2') format('woff2'),
    url('../fonts/eau_sans_book-webfont.woff') format('woff'),
    url('../fonts/eau_sans_book-webfont.ttf') format('truetype'),
    url('../fonts/eau_sans_book-webfont.svg#eausans_book') format('svg');
}

@font-face
{
    font-family: 'montserratextra_bold';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/montserrat-extrabold-webfont.eot');
    src: url('../fonts/montserrat-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-extrabold-webfont.woff') format('woff'),
    url('../fonts/montserrat-extrabold-webfont.ttf') format('truetype'),
    url('../fonts/montserrat-extrabold-webfont.svg#montserratextra_bold') format('svg');
}

@font-face
{
    font-family: 'montserratlight';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/montserrat-light-webfont.eot');
    src: url('../fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-light-webfont.woff') format('woff'),
    url('../fonts/montserrat-light-webfont.ttf') format('truetype'),
    url('../fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
}

@font-face
{
    font-family: 'montserratregular';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-regular-webfont.woff') format('woff'),
    url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
    url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
}

@font-face
{
    font-family: 'montserrathairline';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/montserrat-hairline-webfont.eot');
    src: url('../fonts/montserrat-hairline-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-hairline-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-hairline-webfont.woff') format('woff'),
    url('../fonts/montserrat-hairline-webfont.ttf') format('truetype'),
    url('../fonts/montserrat-hairline-webfont.svg#montserrathairline') format('svg');
}

.ember-red
{
    color: #bf2625;
}

.ember-yellow
{
    color: #f0af24;
}

.ember-grey
{
    color: #777;
}

.eau-bold
{
    font-family: 'eausans_bold';
}

.eau-book
{
    font-family: 'eausans_book';
}

.mont-bold
{
    font-family: 'montserratextra_bold';
}

.mont-light
{
    font-family: 'montserratlight';
}

.mont-regular
{
    font-family: 'montserratregular';
}

.mont-hair
{
    font-family: 'montserrathairline';
}

.pace
{
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
            pointer-events: none;

    -webkit-pointer-events: none;
}

.pace-inactive
{
    display: none;
}

.pace .pace-progress
{
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;

    width: 100%;
    height: 2px;

    background: #f3c921;
}

body
{
    overflow: hidden;

    width: 100%;
    min-width: 1024px;
    height: 100%;

    background: #0a0a0a;
}

.click
{
    visibility: hidden;
}

#red-gradient
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    height: 100%;
}

.nav-bar
{
    position: relative;
    z-index: 10;
    z-index: 1000;
    top: 0;

    width: 100%;
    height: 60px;

    background: #0e0e0e;
}

.nav-bar .nav-content #ember-logo
{
    position: absolute;
    z-index: 1001;

    margin-left: 100px;
    padding-top: 5px;
}


.nav-bar .nav-content .soc-icons
{
    line-height: 60px;

    position: absolute;
    z-index: 1001;
    right: 5%;

    min-width: 300px;
}

.nav-bar .nav-content .soc-icons  ul
{
    height: 60px;
    margin: 0 ;
    padding-left: 0;

    list-style: none;

    text-align: center;
}

.nav-bar .nav-content .soc-icons ul li
{
    position: relative;

    float: left;

    padding: 0 13px 0 13px;
}

.nav-bar .nav-content .soc-icons ul li:hover a
{
    color: white;
}

.nav-bar .nav-content .soc-icons ul li .fa
{
    font-size: 1.1em;
    line-height: 30px;

    width: 30px;
    height: 30px;

    text-align: center;
}

.nav-bar .nav-content .soc-icons ul li a
{
    color: #0e0e0e;
}

.nav-bar .nav-content .soc-icons ul li .fa-facebook,
.nav-bar .nav-content .soc-icons ul li .fa-twitter
{
    padding-top: 1px;
}

.nav-bar .nav-content .soc-icons ul li .fa-twitch
{
    padding-top: 2px;
}

.nav-bar .nav-content .soc-icons.icon-circle .fa
{
    border-radius: 50%;
    background: #474747;
}

#top-tab,
[for=top-tab]
{
    margin: 180px 0 0 0;
}
#jung-tab,
[for=jung-tab]
{
    margin: 309px 0 0 0;
}
#mid-tab,
[for=mid-tab]
{
    margin: 438px 0 0 0;
}
#adc-tab,
[for=adc-tab]
{
    margin: 567px 0 0 0;
}
#supp-tab,
[for=supp-tab]
{
    margin: 696px 0 0 0;
}

.background
{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    object-fit:cover;
    width: 100%;
    min-width: 1024px;
    height: 100%;

    opacity: 0;
}

#landing-content
{
    font-size: 6em;
    line-height: 180px;

    position: absolute;
    top: 14%;
    left: 26%;

    display: none;

    width: 66%;

    text-align: right;
    letter-spacing: 12px;
}

#landing-content img
{
    height: 120%;
}

#home-page label .selector-arrow
{
    position: relative;
    z-index: 5;

    -webkit-transform: translateZ(0) scale(1.0, 1.0);
       -moz-transform: translateZ(0) scale(1.0, 1.0);
        -ms-transform: translateZ(0) scale(1.0, 1.0);
         -o-transform: translateZ(0) scale(1.0, 1.0);
            transform: translateZ(0) scale(1.0, 1.0);

    opacity: 0;
}

#home-page label .hover-arrow
{
    position: absolute;
    z-index: 4;

    -webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;

    opacity: 0;
}

#home-page label .player-button-content
{
    position: absolute;
    top: 0;
    left: 60px;
}

#home-page label .player-button-content .thumbnail-wrap
{
    position: relative;
    z-index: 8;

    float: left;

    width: 129px;
    height: 129px;
}

#home-page label .player-button-content .thumbnail-wrap .thumbnail
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;

    -webkit-transform: translateZ(0) scale(1.0, 1.0);
       -moz-transform: translateZ(0) scale(1.0, 1.0);
        -ms-transform: translateZ(0) scale(1.0, 1.0);
         -o-transform: translateZ(0) scale(1.0, 1.0);
            transform: translateZ(0) scale(1.0, 1.0);

    -webkit-filter: grayscale(1);
            filter: grayscale(1);
}

#home-page label .player-button-content .thumbnail-wrap .thumbnail-border
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;
}

#home-page label .player-button-content .player-button-text-wrap
{
    position: relative;
    z-index: 6;

    float: left;

    width: 300px;
    height: 129px;
}

#home-page label .player-button-content .player-button-text-wrap .player-button-text
{
    margin-top: 34px;
    margin-left: 20px;
}

#home-page label .player-button-content .player-button-text-wrap .player-button-text h1
{
    line-height: 24px;

    margin: 13px 0 13px 0;
}

#home-page label .player-button-content .player-button-text-wrap .player-button-text img
{
    margin-bottom: 4px;
    padding-right: 10px;
}

#home-page label .player-button-content .player-button-text-wrap .player-button-text p
{
    margin: 13px 0 13px 0;
}

.player-pic-wrap
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 32%;

    width: 35%;
    min-width: 340px;
    height: 100%;
}

.player-pic
{
    position: absolute;
    z-index: 3;
    top: -30px;

    width: 100%;

    -webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
    -webkit-transform: translateX(-30%);
       -moz-transform: translateX(-30%);
        -ms-transform: translateX(-30%);
         -o-transform: translateX(-30%);
            transform: translateX(-30%);

    opacity: 0;
}

.player-content-wrap
{
    position: absolute;
    z-index: 20;
    top: 0;
    left: 67%;

    width: 33%;
    min-width: 340px;
    height: 100%;
}

.player-content-wrap .player-content
{
    position: absolute;
    top: 240px;

    margin: 0 40px 0 40px;

    -webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
    -webkit-transform: translateX(60%);
       -moz-transform: translateX(60%);
        -ms-transform: translateX(60%);
         -o-transform: translateX(60%);
            transform: translateX(60%);

    opacity: 0;
}

.player-content-wrap .player-content h1
{
    font-size: 3em;
    line-height: 30px;

    margin-bottom: 0;

    letter-spacing: 3px;
}

.player-content-wrap .player-content h2
{
    font-size: 1.6em;
    line-height: 8px;

    letter-spacing: 2px;
}

.player-content-wrap .player-content h3
{
    font-size: 1.15em;
    line-height: 30px;

    margin-bottom: 0;

    letter-spacing: 1px;
}

.player-content-wrap .player-content h4
{
    font-size: 24px;

    height: 30px;
    margin: -18px 0 0 0;
}

.player-content-wrap .player-content h4 ul
{
    margin-top: 0;
    padding-top: 0;
}

.player-content-wrap .player-content h4 ul li:hover a .fa
{
    color: #bf2625;
}

.player-content-wrap .player-content ul
{
    padding-left: 0;

    list-style: none;
}

.player-content-wrap .player-content ul li
{
    float: left;

    padding-right: 15px;
    padding-bottom: 15px;
}

.player-content-wrap .player-content p
{
    clear: left;
}

#alert-bar {
  height:50px;
  position: relative;
  top:0;
  background: #b22323;
  z-index: 30;
  text-align: center;
  -webkit-box-shadow: 0 0 3px 3px #1A1A1A;
  -moz-box-shadow: 0 0 3px 3px #1A1A1A;
  box-shadow: 0 0 3px 3px #1A1A1A;
  font-family: 'montserrathairline';
  letter-spacing: 2px;
  font-size: 1.6em;
}

#alert-bar .bold {
  letter-spacing: 2px;
}

#alert-bar p {
  color: white;
  line-height: 50px;
  margin: 0;
}

#alert-wrap:hover #alert-bar {
    background-color: #8F1B17;
}

a:-webkit-any-link{
text-decoration:none !important;
}

#alert-wrap:hover p {
    text-decoration: none;
}

#home-page label
{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;

    width: 32%;
    min-width: 500px;
    height: 129px;
}

#home-page input[type=radio]
{
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;

    visibility: hidden;

    width: 33%;
    min-width: 340px;
    height: 129px;
}

#landing-tab:checked + #landing-background + #landing-content
{
    display: block;
}

#home-page input[type=radio] + .background + label:hover .hover-arrow
{
    opacity: .6;
}

#home-page input[type=radio]:checked + .background
{
    opacity: 1;
}

#home-page input[type=radio]:checked + .background + label .selector-arrow
{
    -webkit-animation: fade-in .05s linear forwards;
       -moz-animation: fade-in .05s linear forwards;
         -o-animation: fade-in .05s linear forwards;
            animation: fade-in .05s linear forwards;
}

#home-page input[type=radio]:checked + .background + label .player-button-content .thumbnail-wrap .thumbnail
{
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
}

#home-page input[type=radio]:checked + .background + label + .player-pic-wrap .player-pic
{
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
        -ms-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation: fade-in .2s linear forwards;
       -moz-animation: fade-in .2s linear forwards;
         -o-animation: fade-in .2s linear forwards;
            animation: fade-in .2s linear forwards;
}

#home-page input[type=radio]:checked + .background + label + .player-pic-wrap + .player-content-wrap
{
    z-index: 99;
}

#home-page input[type=radio]:checked + .background + label + .player-pic-wrap + .player-content-wrap .player-content
{
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
        -ms-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation: fade-in .2s linear forwards;
       -moz-animation: fade-in .2s linear forwards;
         -o-animation: fade-in .2s linear forwards;
            animation: fade-in .2s linear forwards;
}


#home-page input[type=radio]:checked + .background + label + .tba
{
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
        -ms-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation: fade-in .2s linear forwards;
       -moz-animation: fade-in .2s linear forwards;
         -o-animation: fade-in .2s linear forwards;
            animation: fade-in .2s linear forwards;
}

@media only screen and (max-width : 1680px) and (max-height: 1050px)
{
    #top-tab,
    [for=top-tab]
    {
        margin: 190px 0 0 0;
    }
    #jung-tab,
    [for=jung-tab]
    {
        margin: 309px 0 0 0;
    }
    #mid-tab,
    [for=mid-tab]
    {
        margin: 428px 0 0 0;
    }
    #adc-tab,
    [for=adc-tab]
    {
        margin: 547px 0 0 0;
    }
    #supp-tab,
    [for=supp-tab]
    {
        margin: 666px 0 0 0;
    }

    #home-page label,
    #home-page input[type=radio]
    {
        left: -30px;

        -webkit-transform: scale(.9);
           -moz-transform: scale(.9);
            -ms-transform: scale(.9);
             -o-transform: scale(.9);
                transform: scale(.9);
    }
    .player-pic-wrap .player-pic
    {
        top: 15px;
    }
    .player-content-wrap .player-content
    {
        top: 220px;
    }
}

@media only screen and (max-width : 1600px) and (max-height: 900px)
{
    .nav-bar
    {
        height: 46px;
    }
    .nav-bar .nav-content #ember-logo
    {
        height: 40px;
    }
    .nav-bar .nav-content .soc-icons
    {
        line-height: 40px;
    }
    .nav-bar .nav-content .soc-icons ul li
    {
        padding: 4px 10px 0 10px;
    }

    .nav-bar .nav-content .soc-icons ul li .fa
    {
        font-size: 1.1em;
        line-height: 30px;

        width: 30px;
        height: 30px;
    }

    #top-tab,
    [for=top-tab]
    {
        margin: 160px 0 0 0;
    }
    #jung-tab,
    [for=jung-tab]
    {
        margin: 266px 0 0 0;
    }
    #mid-tab,
    [for=mid-tab]
    {
        margin: 372px 0 0 0;
    }
    #adc-tab,
    [for=adc-tab]
    {
        margin: 478px 0 0 0;
    }
    #supp-tab,
    [for=supp-tab]
    {
        margin: 584px 0 0 0;
    }
    #home-page label,
    #home-page input[type=radio]
    {
        left: -52px;

        -webkit-transform: scale(.8);
           -moz-transform: scale(.8);
            -ms-transform: scale(.8);
             -o-transform: scale(.8);
                transform: scale(.8);
    }
    .player-pic-wrap .player-pic
    {
        top: -20px;
    }
    .player-content-wrap .player-content
    {
        top: 250px;
    }
    #landing-content
    {
        font-size: 4em;
    }
}

@media only screen and (max-width : 1440px) and (max-height: 900px)
{
    #top-tab,
    [for=top-tab]
    {
        margin: 130px 0 0 0;
    }
    #jung-tab,
    [for=jung-tab]
    {
        margin: 236px 0 0 0;
    }
    #mid-tab,
    [for=mid-tab]
    {
        margin: 342px 0 0 0;
    }
    #adc-tab,
    [for=adc-tab]
    {
        margin: 448px 0 0 0;
    }
    #supp-tab,
    [for=supp-tab]
    {
        margin: 554px 0 0 0;
    }
    #home-page label,
    #home-page input[type=radio]
    {
        left: -52px;

        -webkit-transform: scale(.8);
           -moz-transform: scale(.8);
            -ms-transform: scale(.8);
             -o-transform: scale(.8);
                transform: scale(.8);
    }
    .player-pic-wrap .player-pic
    {
        top: 0;
    }
    .player-content-wrap .player-content
    {
        font-size: 80%;

        top: 160px;
    }
    #landing-content
    {
        font-size: 3.6em;
        line-height: 120px;
    }
}

@media only screen and (max-width : 1366px) and (max-height: 768px)
{
    .nav-bar
    {
        height: 42px;
    }
    .nav-bar .nav-content #ember-logo
    {
        height: 38px;
    }
    .nav-bar .nav-content .soc-icons
    {
        line-height: 38px;
    }
    .nav-bar .nav-content .soc-icons ul li
    {
        padding: 2px 10px 0 10px;
    }

    .nav-bar .nav-content .soc-icons ul li .fa
    {
        font-size: 1.1em;
        line-height: 30px;

        width: 30px;
        height: 30px;
    }

    #top-tab,
    [for=top-tab]
    {
        margin: 120px 0 0 0;
    }
    #jung-tab,
    [for=jung-tab]
    {
        margin: 212px 0 0 0;
    }
    #mid-tab,
    [for=mid-tab]
    {
        margin: 304px 0 0 0;
    }
    #adc-tab,
    [for=adc-tab]
    {
        margin: 396px 0 0 0;
    }
    #supp-tab,
    [for=supp-tab]
    {
        margin: 488px 0 0 0;
    }
    #home-page label,
    #home-page input[type=radio]
    {
        left: -76px;

        -webkit-transform: scale(.7);
           -moz-transform: scale(.7);
            -ms-transform: scale(.7);
             -o-transform: scale(.7);
                transform: scale(.7);
    }
    .player-pic-wrap .player-pic
    {
        top: -14px;
    }
    .player-content-wrap .player-content
    {
        top: 190px;
    }
    .tba h1
    {
        font-size: 4em;
    }
    #landing-content
    {
        top: 22%;
    }
}

@media only screen and (max-width : 1280px) and (max-height: 1024px)
{
    #top-tab,
    [for=top-tab]
    {
        margin: 200px 0 0 0;
    }
    #jung-tab,
    [for=jung-tab]
    {
        margin: 292px 0 0 0;
    }
    #mid-tab,
    [for=mid-tab]
    {
        margin: 384px 0 0 0;
    }
    #adc-tab,
    [for=adc-tab]
    {
        margin: 476px 0 0 0;
    }
    #supp-tab,
    [for=supp-tab]
    {
        margin: 568px 0 0 0;
    }
    #home-page label,
    #home-page input[type=radio]
    {
        left: -76px;

        -webkit-transform: scale(.7);
           -moz-transform: scale(.7);
            -ms-transform: scale(.7);
             -o-transform: scale(.7);
                transform: scale(.7);
    }
    .player-pic-wrap .player-pic
    {
        top: 80px;
    }
    .player-content-wrap .player-content
    {
        font-size: 80%;

        top: 200px;
    }
    .tba h1
    {
        font-size: 4em;
    }
    #landing-content
    {
        font-size: 3.6em;
        line-height: 120px;

        top: 22%;
    }
}

@media only screen and (max-width : 1280px) and (max-height: 800px)
{
    #top-tab,
    [for=top-tab]
    {
        margin: 120px 0 0 0;
    }
    #jung-tab,
    [for=jung-tab]
    {
        margin: 212px 0 0 0;
    }
    #mid-tab,
    [for=mid-tab]
    {
        margin: 304px 0 0 0;
    }
    #adc-tab,
    [for=adc-tab]
    {
        margin: 396px 0 0 0;
    }
    #supp-tab,
    [for=supp-tab]
    {
        margin: 488px 0 0 0;
    }
    #home-page label,
    #home-page input[type=radio]
    {
        left: -76px;

        -webkit-transform: scale(.7);
           -moz-transform: scale(.7);
            -ms-transform: scale(.7);
             -o-transform: scale(.7);
                transform: scale(.7);
    }
    .player-pic-wrap .player-pic
    {
        top: -10px;
    }
    .player-content-wrap .player-content
    {
        top: 140px;
    }
    .tba h1
    {
        font-size: 4em;
    }
}

@media only screen and (max-width : 1024px) and (max-height: 768px)
{
    #top-tab,
    [for=top-tab]
    {
        margin: 140px 0 0 0;
    }
    #jung-tab,
    [for=jung-tab]
    {
        margin: 220px 0 0 0;
    }
    #mid-tab,
    [for=mid-tab]
    {
        margin: 300px 0 0 0;
    }
    #adc-tab,
    [for=adc-tab]
    {
        margin: 380px 0 0 0;
    }
    #supp-tab,
    [for=supp-tab]
    {
        margin: 460px 0 0 0;
    }
    #home-page label,
    #home-page input[type=radio]
    {
        left: -100px;

        -webkit-transform: scale(.6);
           -moz-transform: scale(.6);
            -ms-transform: scale(.6);
             -o-transform: scale(.6);
                transform: scale(.6);
    }
    .player-pic-wrap .player-pic
    {
        top: 80px;
    }
    .player-content-wrap .player-content
    {
        font-size: 60%;

        top: 180px;
        left: -20px;

        margin: 0 20px 0 20px;
    }
    .tba h1
    {
        font-size: 4em;
    }
    #landing-content
    {
        font-size: 3.2em;
        line-height: 90px;

        top: 22%;
    }
}

@-webkit-keyframes fade-in
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@-moz-keyframes fade-in
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@-o-keyframes fade-in
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@keyframes fade-in
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
